* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0
}
.header {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 35px;
}

.header {
    color: white;
}

.list-header > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 18px;
    gap: 15px;
}

.list-header > ul > li > a {
    text-decoration: none;
    color: white;
}
.list-header > ul > li:hover > a {
    font-size: larger;
}
main {
    margin-top: 50px;
}
.tecnologias-front-end {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.tecnologias-front-end > div {
    background-color: black;
    border-radius: 6px;
    height: 160px;
    width: 120px;
    color: white;
    text-align: center;
}

.tecnologias-front-end > div > p {
    margin-top: 10px;
    font-size: small;
}